.LeftSection{
     width: 100%;
}
    
    
   .Section{ 
    display:  "flex" ;
    flex-direction:  "column" ;
    padding:  "32px 48px 0"  ;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
   }
   

 